
.form {
    padding: 10px;
    margin: 5px;
    line-height: 2;
  }

  .form__fieldset {
    border: 2px;
    border-radius: 30px;
    border-color: rgb(155, 149, 149);
    border-style: inset;
    background-color: rgba(155, 182, 116, 0.803);
    box-shadow: 13px -3px 23px 12px #79c3b9;
    padding: 15px;
    margin: 20px 0;
  }

  .form__legend {
    width: 100%;
    border: none;
    background-color: rgb(221, 194, 159);
    color: rgb(83, 67, 46);
    padding: 5px;
    border-radius: 45px;
    
  }

  .form__label {
     color:rgb(19, 146, 146);
    margin: 20px auto;
    border: 5px solid rgb(228, 150, 150);
    border-radius: 30px;
    border-style: double;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(241, 241, 230);
  }

  .form__labelText {
    color:rgb(19, 146, 146);
    margin: 20px auto;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(241, 241, 230);
  
  }
  
  .form__amount{
    border-radius: 30px;
    width: 200px;
    padding: 5px;
  }

  .form__currency {
    color: rgb(187, 10, 119);
    width: 200px;
    padding: 5px;
    display: inline-block;
    font-weight: 700;
    margin-right: 5px;
    border-radius: 30px;
  }

 .form__button {
    width: 100%;
    border: none;
    background-color: rgb(172, 223, 174);
    color: rgb(5, 17, 124);
    padding: 6px;
    border-radius: 45px;
    box-shadow: 1px 1px 3px rgb(236, 163, 163);
}

.form__button:hover {
    background-color: hsl(0, 68%, 49%);
}

.form__button:active {
    background-color: hsl(0, 100%, 50%);
}


 .form__result {
  color:rgb(154, 60, 54);
  font-family: 'Playfair Display', serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px auto;
  padding: 10px;
  text-align: center;

  
 }

 .form__information {
    color: rgb(22, 92, 120);
    margin: 25px 0px 5px;
    padding: 10px;
    text-align: center;
    background-color: #f2dfb1ec;
    box-shadow: 5px 15px 29px 0px #9697c7;
    border-radius: 20px;

   }
 
