
.ssection__header {
    color: #7c1878;
    text-align: center;
    outline: 2px solid rgb(142, 138, 138);
    border: thick double #32a1ce;;
    border-radius: 30px;
    margin: 10px 5px 35px;
    padding: 20px;
    background-color: #ddd;
    box-shadow: 5px 15px 29px 0px #1B1D7C;
}

.section__paragraph {
    margin: 20px auto;
    border: 10px solid rgb(127, 101, 8);
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(9, 42, 72);
}