.html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.dark.dark {
  background-color: rgb(170, 160, 160);
}

.body {
    background-color: #e7e7d7;
    color: rgb(54, 50, 50);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    max-width: 1000px;
    padding: 25px 20px;
    margin: 20px auto;
}


.footer {
  color: white;
  margin: 25px 0px 5px;
  padding: 10px;
  text-align: center;
  background-color: #9d9c96ec;
  box-shadow: 5px 15px 29px 0px #aa785b
 }