


.table {
    background: rgb(199, 158, 104);
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(229, 196, 165);
    position: relative;
    
   }
  
    .table__cell {
      border: 1px solid rgb(0, 0, 0);
      padding: 20px;
      text-align: center;
      vertical-align: middle;
    }
  
    .table__caption {
      color: rgb(54, 50, 50);
      text-align: center;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 21px;
      max-width: 1000px;
      padding: 25px 20px;
      margin: 20px auto;
      font-weight: 700;
      }
  
  .table__cell--header {
    background-color: rgb(135, 101, 62);
    color: white;
    font-weight: normal;
  }
  
  .table__row:nth-child(even) {
    background: rgb(208, 180, 124);
  }
  
  .table__row:hover {
    background: rgb(89, 58, 24);
  }
  