


.table {
    background: rgb(199, 158, 104);
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(229, 196, 165);
    position: relative;
    
   }
  
    .table__cell {
      border: 1px solid rgb(0, 0, 0);
      padding: 20px;
      text-align: center;
      vertical-align: middle;
    }
  
    .table__caption {
      color: rgb(124, 110, 74);
      outline: 2px solid grey;
      border: thick double #873c11;
      border-radius: 30px;
      margin: 10px 5px 35px;
      padding: 10px;
      background-color: #ddd;
      box-shadow: 5px 15px 29px 0px #dba94656
    
      }
  
  .table__cell--header {
    background-color: rgb(135, 101, 62);
    color: white;
    font-weight: normal;
  }
  
  .table__row:nth-child(even) {
    background: rgb(208, 180, 124);
  }
  
  .table__row:hover {
    background: rgb(89, 58, 24);
  }
  